<h2>Join a Game</h2>
Don't see a game? <a href=<%= new_game_path%>>Start a new one yourself</a>.
<% @games.each do |game| %>
  <% if current_user.id != game.white_player_id && game.black_player_id == nil %>
    <p><%= link_to game.name, game_path(game.id) %></p>
  <% end %>
<% end %>

<br/><br/>
<%= link_to 'back to games index', games_path %>